body{
    margin: 0;
    min-height: 100vh;
    background-color: rgba(240, 242, 247, 0.9);;
    color: #000;
    font-weight: 600;
    display: flex;
}
.sect1{
    background:radial-gradient( rgb(51, 49, 47), rgb(19, 18, 18), rgb(7, 7, 7) );
    font-size: 30px;
    color: white;
}
nav ul{
    list-style: none;
}
.quiz{
width: 600px;
height: 800px;
padding: 20px 30px;
margin-top: 40%;
background: linear-gradient(rgb(209, 171, 100), rgb(199, 92, 50), rgb(206, 203, 203));
box-shadow: 0 10px 10px rgba(0,0,0,0.9);
background: linear-gradient(120, 100, 50);
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
margin-left: 25%;

}
.quiz-body{
    margin-top: 15%;
}
.quiz form{
    font-size: 2rem;
    margin-top: 5%;   
}
.quiz h2{
    margin-top: 100px;
    font-size: 50px;
}
.quiz button{
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-size: 2.5em;
    margin-top: 10%;
    background-color: black;
    color: white;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 200px;
}
.sect1 h1{
    margin-left: 20px;
}

@media screen and (max-width: 1000px) {
    .quiz {
        margin: 0;
        width: fit-content;
        font-size: 10px;
        height: fit-content;
        display: block;
    }
    .quiz h1{
        font-size: 1.5rem;
    }
    .quiz-body {
        font-size: 2.5rem;
    }
    body{
        width: fit-content;
        margin: 0;
        height: fit-content;
        font-size: 10px;

}
.sect1{
    width: fit-content;
    height: 40vh;
    margin-right: 5%;
    font-size: 10px;
}
}