<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Networking quiz</title>
    <link href="../css/index.css" rel="stylesheet">
</head>
<body>
  <header class="sect1">
    <h1 style="color:white;">Quiz<span style="color: yellow;">Board</span></h1>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
        <li><a href="quiz.html">Networking</a></li>
        <li><a href="quiz1.html">Data Science</a></li>
        </ul>
    </nav>
    </header>
    
<div class="container">

    <div class="quiz" id="quiz-board">
    <div class="quiz-body">
      <h1 id="question">Question Text</h1>
      <form>
          <input type="radio" name="answer" id="a" class="answer">
          <label for="a" id="a-text">Answer</label><br>
        
          <input type="radio" name="answer" id="b" class="answer">
          <label for="b" id="b-text">Answer</label><br>
        
          <input type="radio" name="answer" id="c" class="answer">
          <label for="c" id="c-text">Answer</label><br>
    
          <input type="radio" name="answer" id="d" class="answer">
          <label for="d" id="d-text">Answer</label><br>
          </form>
    </div>

    <button id="btn">Submit</button>
  </div>
  <div id="result"></div>
  </div>
  <script src="../javascript/quiz.js"></script>
</body>
</html>
